@mixin blockTitle{
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	font-family: 'Lato Light', Arial;
	padding-top: 100px;
}
@mixin gridList{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: auto;
	grid-column-gap: 20px;
	justify-items: center;
	@media(max-width: $smDesktopWidth){
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 20px;
		grid-template-rows: auto;
	}
}
@mixin flexCol{
	display: flex;
	flex-direction: column;
	align-items: center;
}
@mixin socialParams($width, $color, $size){
	.social__list{
		width: $width;
	}
	.social__iconlink{
		background-color: $color;
		width: $size;
		height: $size;
		&--fb{
			&:hover{
				background-color: #4f689e;
			}
		}
		&--twi{
			&:hover{
				background-color: #74c7d5;
			}
		}
		&--be{
			&:hover{
				background-color: #df5c64;
			}
		}
		&--in{
			&:hover{
				background-color: #3e61af;
			}
		}
	}
}