// Grid width
$desktopWidth : 1600px;
$smDesktopWidth: 1140px;
$tableWidth : 768px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;

// Colors
$color-base-text: #ffffff;
$color-red-tone: #c8535a;
$color-sky-tone: #75b4aa;
$color-plum-tone: #665464;
$color-green-tone: #81a256;
$color-act-red: #df5c64;
$color-act-warn: #f5c149;
$color-act-sky: #74c7d5;
$color-act-plum: #91778e;
$color-act-green: #a1ca6c;

// fonts

$font-light: 'Lato Light', Arial, sans-serif;
$font-base: 'Lato Regular', Arial, sans-serif;