.services{
	padding-bottom: 40px;
}
.services__title{
	@include blockTitle;
}
.services__description{
	margin-top: 40px;
	
	font-family: $font-base;
	text-align: center;
	b{
		text-transform: uppercase;
		font-weight: normal;
		font-size: 20px;
		line-height: 32px;	
	}
	p{
		font-size: 14px;
		line-height: 24px;
	}

}
.services__list{
	margin-top: 100px;
	@include gridList
}
.services__list-item{
	@include flexCol;
	padding: 40px 0 30px;
	background-color: $color-red-card;
	min-width: 260px;
	min-height: 400px;
}

.services__list-pic{
	width: 140px;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $color-base-text;
	fill: $color-red-tone;
	border-radius: 50%;
	position: relative;
}
.services__list-pic::after{
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 94%;
	height: 94%;
	border: 5px solid $color-red-tone;
	border-radius: 50%;
	left: 3%;
	top: 3%;
}
.services__list-title{
	text-transform: uppercase;
	font-family: $font-light;
	font-size: 30px;
	margin-top: 25px;
	text-align: center;
}
.services__list-desc{
	font-family: $font-base;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	margin-top: 40px;
	padding: 0 25px;
}