section.services.container#services
   h2.services__title Our Services
   .services__description
      p Cras commodo mattis justo nec lobortis. Nam ut tellus lobortis, ullamcorper massa sit amet
      p Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.
   ul.services__list
      li.services__list-item
         div.services__list-pic
         h3.services__list-title Researching
         p.services__list-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed iure consequatur optio repellat est, dignissimos asperiores porro ipsam cumque incidunt beatae modi. Eligendi in, recusandae laboriosam deserunt libero cumque voluptatem?
      li.services__list-item
         div.services__list-pic
         h3.services__list-title Design
         p.services__list-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed iure consequatur optio repellat est, dignissimos asperiores porro ipsam cumque incidunt beatae modi. Eligendi in, recusandae laboriosam deserunt libero cumque voluptatem?
      li.services__list-item
         div.services__list-pic
         h3.services__list-title Development
         p.services__list-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed iure consequatur optio repellat est, dignissimos asperiores porro ipsam cumque incidunt beatae modi. Eligendi in, recusandae laboriosam deserunt libero cumque voluptatem?
      li.services__list-item
         div.services__list-pic
         h3.services__list-title Launch
         p.services__list-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed iure consequatur optio repellat est, dignissimos asperiores porro ipsam cumque incidunt beatae modi. Eligendi in, recusandae laboriosam deserunt libero cumque voluptatem?