section.services#services
   h2.services__title Our Services
   .services__description
      p Cras commodo mattis justo nec lobortis. Nam ut tellus lobortis, ullamcorper massa sit amet
      p Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.
   ul.services__list
      li.services__list-item
      li.services__list-item
      li.services__list-item
      li.services__list-item