div.sorting
   h3.sorting__cap Portfolio
   nav.sorting__menu
      ul.sorting__list
         li.sorting__item
            a.sorting__btn All
         li.sorting__item
            a.sorting__btn Photography
         li.sorting__item
            a.sorting__btn Logo Design
         li.sorting__item
            a.sorting__btn Web Design