section.work
   h2.work__title Our work
   p.work__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, quas. Veniam sit illum quaerat debitis qui. Corrupti, pariatur voluptates rem temporibus.
   include ../sorting/sorting.pug
   include ../gallery/gallery.pug
