section.work.container#work
	include ../topbar/topbar.pug
	h2.work__title Our work
	p.work__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, quas. Veniam sit illum quaerat debitis qui. Corrupti, pariatur voluptates rem temporibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia temporibus sint quis iure cupiditate maiores, adipisci tempora odit modi, fuga esse molestias, asperiores aspernatur architecto corrupti beatae natus magni eveniet!
	include ../sorting/sorting.pug
	include ../gallery/gallery.pug