section.slider
   ul.slider__box
      li.slider__slide
      li.slider__slide
         b.slider__slogan GOOD IDEAS comes #[span FIRST]!
      li.slider__slide
   ul.slider__dots
      li.slider__dot
      li.slider__dot
      li.slider__dot