section.about.container#about
   include ../topbar/topbar.pug
   h2.about__title Who we are & what we do
   .about__description
      p Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.
   div.about__cap Meet the team
   ul.about__list
      li.about__list-item
         .about__list-pic
            +userpic
         h4.about__list-name John Snow
         p.about__list-job General manager
         +social("#","#","#","#")
      li.about__list-item
         .about__list-pic
            +userpic
         h4.about__list-name Davos Sivort
         p.about__list-job Design Master
         +social("#","#","#","#")
      li.about__list-item
         .about__list-pic
            +userpic
         h4.about__list-name Sandor 'Bloodhound' Kligan
         p.about__list-job Developer Ninja
         +social("#","#","#","#")
      li.about__list-item
         .about__list-pic
            +userpic
         h4.about__list-name Tyrion Lannister
         p.about__list-job SEO guru
         +social("#","#","#","#")