.contacts{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.contacts__main{
   flex: 1 0 auto;
}
.contacts__title{
	@include blockTitle;
}
.contacts__text{
   text-align: center;
   font-size: 14px;
   line-height: 24px;
   margin-top: 20px;
}
.contacts__widgets{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 100px;

   h3{
      font-family: $font-light;
      font-size: 30px;
      line-height: 30px;
   }
}
.contacts__footer{
   background-color: $color-dark-marine;
   flex-shrink: 0;
}

.contacts__social{
   @include socialParams(362px, $color-sky-tone, 60px);
   min-height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
}