ul.gallery
   li.gallery__item
      figure.gallery__pic
         div
            img(src="/img/gallery/pic-1.jpg")
         figcaption Aenean Elit
   li.gallery__item
      figure.gallery__pic
         div
            img(src="/img/gallery/pic-2.jpg")
         figcaption Aliquam
   li.gallery__item
      figure.gallery__pic
         div
            img(src="/img/gallery/pic-3.jpg")
         figcaption Suspendisse Libero
   li.gallery__item
      figure.gallery__pic
         div
            img(src="/img/gallery/pic-4.jpg")
         figcaption Maecenas Fringilla
   li.gallery__item
      figure.gallery__pic
         div
            img(src="/img/gallery/pic-5.jpg")
         figcaption Donec Vehicula
   li.gallery__item
      figure.gallery__pic
         div
            img(src="/img/gallery/pic-6.jpg")
         figcaption Ut Et Sapien
   li.gallery__item
      figure.gallery__pic
         div
            img(src="/img/gallery/pic-7.jpg")
         figcaption Quis Malesuada
   li.gallery__item
      figure.gallery__pic
         div
            img(src="/img/gallery/pic-8.jpg")
         figcaption Vestibulum Ante