ul.gallery
   li.gallery__item
      div.gallery__pic
         img(src="/img/gallery/pic-1.jpg")
      p.gallery__name Aenean Elit
   li.gallery__item
      div.gallery__pic
         img(src="/img/gallery/pic-2.jpg")
      p.gallery__name Aliquam
   li.gallery__item
      div.gallery__pic
         img(src="/img/gallery/pic-3.jpg")
      p.gallery__name Suspendisse Libero
   li.gallery__item
      div.gallery__pic
         img(src="/img/gallery/pic-4.jpg")
      p.gallery__name Maecenas Fringilla
   li.gallery__item
      div.gallery__pic
         img(src="/img/gallery/pic-5.jpg")
      p.gallery__name Donec Vehicula
   li.gallery__item
      div.gallery__pic
         img(src="/img/gallery/pic-6.jpg")
      p.gallery__name Ut Et Sapien
   li.gallery__item
      div.gallery__pic
         img(src="/img/gallery/pic-7.jpg")
      p.gallery__name Quis Malesuada
   li.gallery__item
      div.gallery__pic
         img(src="/img/gallery/pic-8.jpg")
      p.gallery__name Vestibulum Ante