extends layouts/default
block variables
	- var title = "gulp-pug-starter"

block content
	include ../blocks/modules/header/header.pug
	include ../blocks/modules/services/services.pug
	include ../blocks/modules/about/about.pug