extends layouts/default
block variables
	- var title = "LPage"

block content
	include ../blocks/modules/header/header.pug
	include ../blocks/modules/services/services.pug
	include ../blocks/modules/about/about.pug
	include ../blocks/modules/work/work.pug
	include ../blocks/modules/contacts/contacts.pug
	
