extends layouts/default
block variables
	- var title = "LPage"

block content
	div.wrap.wrap--sky
		include ../blocks/modules/header/header.pug
	div.wrap.wrap--red
		include ../blocks/modules/services/services.pug
	div.wrap.wrap--plum
		include ../blocks/modules/about/about.pug
	div.wrap.wrap--green
		include ../blocks/modules/work/work.pug
	div.wrap.wrap--sky
		include ../blocks/modules/contacts/contacts.pug
	
