nav.mainmenu
   ul.mainmenu__list
      li.mainmenu__item
         a.mainmenu__link Home
      li.mainmenu__item
         a(href="#services").mainmenu__link Services
      li.mainmenu__item
         a(href="#about").mainmenu__link About
      li.mainmenu__item
         a(href="#work").mainmenu__link Work
      li.mainmenu__item
         a(href="#contacts").mainmenu__link Contacts