.social{
	display: flex;
}
.social__list{
	display: flex;
	justify-content: space-between;
}
.social__iconlink{
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	svg{
		width: 50%;
		height: 50%;
		fill: $color-base-text;
		stroke: $color-base-text;
	}
}
