* {
   box-sizing: border-box;
   font-family: "Lato Regular", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
   padding: 0;
   margin: 0;
}
figure{
   margin: 0;
   padding: 0;
}
ul {
   list-style: none;
}

.img-responsive {
   max-width: 500px;
   width: 100%;
   height: auto;
}

.visually-hidden {
   position: absolute;
   clip: rect(0 0 0 0);
   width: 1px;
   height: 1px;
   margin: -1px;
}

.wrap {
   // min-height: 100vh;
   height: 100vh;
   color: $color-base-text;
   z-index: -1;
   &--header{
      background: url('/img/header-bg.jpg') no-repeat $color-sky-tone;
      background-size: cover;
   }
   &--plum {
      background:
         url('/img/bg-plum-wave.png') 0% 50% no-repeat $color-plum-tone;
   }

   &--green {
      background: 
         url('/img/bg-green-wave.png') 100% 40% no-repeat $color-green-tone;
   }

   &--red {
      background: 
         url('/img/bg-red-wave.png') no-repeat $color-red-tone;
   }

   &--sky {
      background:
         url('/img/bg-sky-wave.png') 0% 200% no-repeat $color-sky-tone;
   }
   @media screen and (max-width: $smDesktopWidth) {
      height: auto;
      min-height: 100vh;
   }

}

.container {
   width: 100%;
   flex: 0 0 auto;
   position: relative;
   max-width: $desktopWidth;
   margin-right: auto;
   margin-left: auto;
   overflow: hidden;

   @media screen and (max-width: $desktopWidth) {
      max-width: $smDesktopWidth;
   }

   @media screen and (max-width: $smDesktopWidth) {
      max-width: $tableWidth;
   }

   @media screen and (max-width: $tableWidth) {
      max-width: $phoneWidth;
   }

   @media screen and (max-width: $phoneWidth) {
      max-width: $smPhoneWidth;
   }

   @media screen and (max-width: $smPhoneWidth) {
      max-width: 290px;
   }
}